torch
torchvision
h5py
opt_einsum
tensorly
tensorly-torch
wandb
git+https://github.com/shoaibahmed/neuraloperator
zarr
torch_harmonics
natsort
hydra-core
termcolor
mlflow
aiobotocore
git+https://github.com/shoaibahmed/modulus
